.env
.env.*
*.env
*.env.*

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules/
.DS_Store
dist/
*.db
!**/default.db
.vscode/

__pycache__/
**/__pycache__/
*.py[cod]
*$py.class
c
AGENT_STATE.md